@charset 'UTF-8';

@import '../../../../styles/variables.scss';

.root {
	position: absolute;
	top: 0;
	left: $gap;
	right: 0;
	bottom: 3px;
	overflow: none;
}

.content {
	width: 100%;
	height: 100%;
	border: none;
}