@charset 'UTF-8';

@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.root {
  padding: 0 $gapx2;
  margin-bottom: $gapx2;
  border: 1px solid $border;
}

.title {
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid $border;
	line-height: $height;
}