@charset 'UTF-8';

@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.cell {
  height: $table-row-height;
  box-sizing: border-box;
  padding: 6px $gap;
  color: $txt-title;
  text-align: left;
  vertical-align: text-top;
}
