@charset 'UTF-8';

@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.bar {
  color: $txt-content;
  background-color: $cotent;
  flex: none;
}

.expand {
  width: $bar-expand-width;
  transition: $animation-swift-out;
}

.shrink {
  width: $bar-shrink-width;
  transition: $animation-swift-out;
}

.panel {
  width: $bar-expand-width;
}

.shrinker {
  height: $height;
  padding-left: $gap;
  line-height: $height;
  cursor: pointer;
  background-color: $cotent;
  border-bottom: 1px solid $border;
  border-left: 5px solid $cotent;
}
